Problem 1: Unique Words in a Sentence

In [55]:
# Input sentence
sentence=input("Enter the sentence")
# Split sentence into words
words=sentance.split()
# Convert to set to get unique words
unique_words=set(words)
# Print results
print("unique words count:",len(unique_words))
print("unique words:",unique_words)

Enter the sentence python is easy and python is powerful

unique words count: 5
unique words: {'easy', 'and', 'is', 'powerful', 'python'}

Problem 2: Highest Salary from Employee Data

In [56]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
# Initial highest salary and employee
highest_salary= list(employees.values())[0]
highest_employee=list(employees.keys())[0]


for employee in employees:
    if employees[employee]>highest:
        highest_salary= employees[employee]
        highest_employee=employee
        
print("Highest Salary:",highest_employee,"-",highest_salary)

Highest Salary: Ravi - 75000

Problem 3: Find Maximum and Minimum Values

In [57]:
numbers = [45, 22, 89, 10, 66]
# Initialize max and min with first element
minimum=numbers[0]
maximum=numbers[0]
# Loop through the list
for i in numbers:
    if i>maximum:
        maximum=i
    elif i<minimum:
        minimum=i
# Display results
print("List:",numbers)
print("maximum:",maximum)
print("minimum",minimum)

List: [45, 22, 89, 10, 66]
maximum: 89
minimum 10

Problem 4: Count Products Above a Price Threshold

In [58]:
# Problem 4: Count Products Above a Price Threshold
prices = [450, 1200, 899, 1500, 300]
count=0
for i in prices:
    if i>1000:
        count+=1;

print("Products above 1000:",count)

Products above 1000: 2

Problem 5: Calculate Attendance Percentage

In [59]:
attendance = ["P", "P", "A", "P", "P"]
count=0
total_days=len(attendance)
for i in attendance:
    if i == "P":
        count+=1
Attendance_Percentage = (count/total_days)*100
print("Attendance Percentage:",Attendance_Percentage)

Attendance Percentage: 80.0

Problem 6: Remove Duplicate Phone Numbers

In [60]:
# Take input from user
phone_numbers = input("Enter phone numbers separated by space: ")
# Convert input string to list of integers
phone_list=list(map(int,phone_numbers.split()))
# Remove duplicates using set
unique_numbers=set(phone_list)
# Display result
print("Unique phone numbers:", unique_numbers)

Enter phone numbers separated by space:  9876543210 9123456789 9876543210 7093319863 7894561237

Unique phone numbers: {7894561237, 9123456789, 7093319863, 9876543210}

Problem 7: Count Character Frequency

In [61]:
text=input("enter the string:")
char_count={}
for char in text:
    if char in char_count:
        char_count[char]+=1
    else:
        char_count[char]=1
print(char_count)

enter the string: kankanala

{'k': 2, 'a': 4, 'n': 2, 'l': 1}

Problem 8: Convert List to Tuple

In [62]:
my_list=[10,20,30,40,50]

my_tuple=tuple(my_list)
print("Tuple:", my_tuple)

Tuple: (10, 20, 30, 40, 50)

Problem 9: Check if a Key Exists in a Dictionary

In [63]:
employees={
    "Ravi":10000,
    "Anitha":20000,
    "kiran":45000
}
key="Ravi"
if key in employees:
    print("Employee exists")
else:
    pritn("Employee not exists")

Employee exists

Problem 10: Calculate Average Marks

In [64]:
marks = [80,67,89,77,66]
total=0
for i in marks:
    total+=i

Average_Marks=total/len(marks)
print("Average_Marks:",Average_Marks)

Average_Marks: 75.8